{% load static %}
<div class="header" id="home">	
    <div class="header-para">	
    </div>	
    <ul class="header-in">
        <li>	{% if user.username %}
                    <p>Xin chào {{user.username}}</p>
                      <p><a href="{% url 'logout' %}">Đăng xuất</a></p>
                {% else %}
                    <p><a href="{% url 'register' %}">Đăng ký</a>|<a href="{%url 'account' %}">Đăng nhập</a></p>
                {% endif %}
        </li>
        <li><a href="{% url 'wishlist' %}">  WISHLIST</a></li>
        <li ><a href="{% url 'contact' %}" > CONTACT US</a></li>
    </ul>
        <div class="clearfix"> </div>
</div>			